@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@import url('css/pages/home.css');
@import url('css/pages/about.css');
@import url('css/pages/notfound.css');

@import url('css/components/nav.css');
@import url('css/components/card.css');
@import url('css/components/modal.css');
@import url('css/components/userInfo.css');


/* Global style */
 body {
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

button {
  font-family: 'Gloria Hallelujah', cursive;
}








