/* card component style */
#card-component {
  box-shadow: 3px 3px 30px 3px #fadb9b;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 100%; /* 익스플로러 10에서 사진크기에 따라 스크롤 생겨서 추가함 */
}
#card-picture {
  overflow: hidden;
  flex-grow: 1;
  height: 100%; /* 익스플로러 10에서 사진크기에 따라 사진이 짤려서 추가함 */
}
.card-picture-img {
  display: none;
  width: 100%;
  height: 100%;
  image-rendering: -webkit-optimize-contrast;
}
.show-profileImg{
  display: block !important;
}
#card-name {
  margin: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #f8ad7b;
  text-align: center;
}